<!DOCTYPE html>
<html lang="en">

<head>
    <style>
         main {
        
        column-count:3;
        column-gap: 3em;
        column-rule: 1px solid #bbb;
        column-width: 140px;
    }

    h4 {
        column-span:all;
    }

    img {
        display:block;
        column-span:all;
    }

    </style>
</head>

<body>
    



</body >

<main>
    <p>Sarge es uno de los protagonistas de la saga Army Men. Una extensa serie de videojuegos que nos lleva a un mundo de soldados de plástico. 
        Sus nervios de acero le han hecho sobrevivir a pruebas que significarían el fin de cualquier otro soldado. Mantiene una fuerte disciplina en sus tropas, siendo la mano derecha del Coronel Grimm . Es extremadamente hábil con una gran variedad de armas, incluidas las armas improvisadas.
        Aunque por lo general trabaja como comando terrestre, Sarge también  es un experto piloto de combate y es el líder de la Bravo Company , un escuadrón de súper soldados formado por las mentes más brillantes del ejército verde.</p>

<h4> 10. Sgt. Hawk( Army Men) 

<p>Sarge es uno de los protagonistas de la saga Army Men. Una extensa serie de videojuegos que nos lleva a un mundo de soldados de plástico. 
Sus nervios de acero le han hecho sobrevivir a pruebas que significarían el fin de cualquier otro soldado. Mantiene una fuerte disciplina en sus tropas, siendo la mano derecha del Coronel Grimm . Es extremadamente hábil con una gran variedad de armas, incluidas las armas improvisadas.
Aunque por lo general trabaja como comando terrestre, Sarge también  es un experto piloto de combate y es el líder de la Bravo Company , un escuadrón de súper soldados formado por las mentes más brillantes del ejército verde.</p>

</h4> 

<p>Sarge es uno de los protagonistas de la saga Army Men. Una extensa serie de videojuegos que nos lleva a un mundo de soldados de plástico. 
    Sus nervios de acero le han hecho sobrevivir a pruebas que significarían el fin de cualquier otro soldado. Mantiene una fuerte disciplina en sus tropas, siendo la mano derecha del Coronel Grimm . Es extremadamente hábil con una gran variedad de armas, incluidas las armas improvisadas.
    Aunque por lo general trabaja como comando terrestre, Sarge también  es un experto piloto de combate y es el líder de la Bravo Company , un escuadrón de súper soldados formado por las mentes más brillantes del ejército verde.</p>
</main>


</html>


