<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   


   <!-- website-->
    <title>Matandile Games - Estudio de videojuegos </title>
    <link rel="icon" type="image/x-icon" href="/images/fate_logo_blanco.png">

    
    <!-- open-graph card -->
    
    

    <meta name="og:title" content="FateStudiosGame - Estudio de videojuegos de Cuba">
    <meta name="og:description" content="Buscando la Luz">
    <meta name="og:image" content="https://matandile.videojuegoscuba.org/assets/main-banner.jpeg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@fatestudiosgame">
    <meta name="twitter:creator" content="@fateStudiosGame">
    <meta name="twitter:title" content="Matandile Games - Estudio de videojuegos">
    <meta name="twitter:description" content="Videojuegos para la familia">
    <meta name="twitter:image" content="https://matandile.videojuegoscuba.org/assets/main-banner.jpeg">
    <meta name= "twitter:summary_large_image" content="https://matandile.videojuegoscuba.org/assets/main-banner.jpeg">
    
    <link rel="stylesheet" href="./_static/bootstrap/sketchy/bootstrap.min.css">
    <link rel="stylesheet" href="./_static/bootstrap/icons/bootstrap-icons.css">
    <link rel="stylesheet" href="./_static/css/custom.css">
    <script src="./_static/js/jquery.min.js"></script>
    <script src="./_static/js/bootstrap.min.js"></script>


   

</head>

<body>

    <!--

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Matandile Games</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/about">
                                about
                            </a>
                        </li>
                    
                </ul>
            </div>
        </div>
    </nav>


    -->



    <!-- Jumbotron -->
    <div class="p-5 jumbotron">

        <div class="d-flex mt-5 mb-5 align-items-end justify-content-center">
            <div>
                <img src="/images/fate_logo_blanco.png" width="100" height="100">
            </div>
            <div>
                <div class="rainbow-text title">FateStudiosGame</div>

                <div class="lead desc">
                    Videojuegos en Cuba
                </div>
            </div>
        </div>

    </div>
    <!-- Jumbotron -->

    <div class="container">

        <div class="row row-cols-2 row-cols-lg-4 row-cols-md-3 g-4">

            

                <div class="col">
                    <div class="card bg-light text-dark border-0">
                        <img src="/images/jekyll-logo.png" class="p-2 card-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Pedrito Cambolo
                            </h5>
                            <p class="card-text">
                                Un gran corredor (y matemático) de la prehistoria.
                            </p>
                           
                        </div>
                    </div>
                </div>

                

                    

                        <div class="col">
                            <div class="card bg-light text-dark border-0">
                                <img src="/images/jekyll-logo.png" class="p-2 card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Juego sin nombre 1
                                    </h5>
                                    <p class="card-text">Espacio para un juego que está en el futuro.</p>
                              
                                </div>
                            </div>
                        </div>

                        

                        <div class="col">
                            <div class="card bg-light text-dark border-0">
                                <img src="/images/jekyll-logo.png" class="p-2 card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Juego sin nombre 2
                                    </h5>
                                    <p class="card-text">Espacio para un juego que está en el futuro.</p>
                        
                                </div>
                            </div>
                        </div>

                        

                        <div class="col">
                            <div class="card bg-light text-dark border-0">
                                <img src="/images/jekyll-logo.png" class="p-2 card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Juego sin nombre 3
                                    </h5>
                                    <p class="card-text">Espacio para un juego que está en el futuro.</p>
                
                                </div>
                            </div>
                        </div>

                        

                        <div class="col">
                            <div class="card bg-light text-dark border-0">
                                <img src="/images/jekyll-logo.png"class="p-2 card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Juego sin nombre 4
                                    </h5>
                                    <p class="card-text">Espacio para un juego que está en el futuro.</p>
                             
                                </div>
                            </div>
                        </div>

                        

                        <div class="col">
                            <div class="card bg-light text-dark border-0">
                                <img src="/images/jekyll-logo.png" class="p-2 card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Juego sin nombre 5
                                    </h5>
                                    <p class="card-text">Espacio para un juego que está en el futuro.</p>
                        
                                </div>
                            </div>
                        </div>

                        

                        <div class="col">
                            <div class="card bg-light text-dark border-0">
                                <img src="/images/jekyll-logo.png" class="p-2 card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Juego sin nombre 6
                                    </h5>
                                    <p class="card-text">Espacio para un juego que está en el futuro.</p>
                         
                                </div>
                            </div>
                        </div>

                        

                        <div class="col">
                            <div class="card bg-light text-dark border-0">
                                <img src="/images/jekyll-logo.png" class="p-2 card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Juego sin nombre 7
                                    </h5>
                                    <p class="card-text">Espacio para un juego que está en el futuro.</p>
                   
                                </div>
                            </div>
                        </div>

                        

                        <div class="col">
                            <div class="card bg-light text-dark border-0">
                                <img src="/images/jekyll-logo.png" class="p-2 card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Juego sin nombre 8
                                    </h5>
                                    <p class="card-text">Espacio para un juego que está en el futuro.</p>
                      
                                </div>
                            </div>
                        </div>

                        

                        <div class="col">
                            <div class="card bg-light text-dark border-0">
                                <img src="/images/jekyll-logo.png" class="p-2 card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Juego sin nombre 9
                                    </h5>
                                    <p class="card-text">Espacio para un juego que está en el futuro.</p>
                          
                                </div>
                            </div>
                        </div>

                        

        </div> <!-- row -->

    </div>


    <div class="container mt-5">

    <footer id="footer">
        <div class="row">
            <div class="col-lg-12 small card card-light border-0 mb-2">
                <div class="card-body">
                    Síguenos en nuestras redes sociales <a target="_blank"
                        href="https://www.twitter.com/MatandileGames">Facebook</a>,
                        <a target="_blank"
                        href="https://www.twitter.com/MatandileGames">Twitter</a> y <a target="_blank"
                        href="https://medium.com/@MatandileGames">Medium</a>.
                    Copyright &copy; 2022 <a target="_blank"
                        href="https://www.videojeugoscuba.org/creadores/arian-fornaris">FATESTUDISOGAME</a>. Ciudad de La Habana, Cuba.
                </div>
            </div>
        </div>
    </footer>

</div>

</body>

</html>